# Add to /etc/apt/sources.list, update depending on the release.
deb [arch=amd64] https://nido.snap.net.nz/ubuntu-esm {{ ansible_distribution_release }}-infra-security main
deb [arch=amd64] https://nido.snap.net.nz/ubuntu-esm {{ ansible_distribution_release }}-infra-updates main
