#grab the esm packages from our mirror
deb [arch=amd64 signed-by=/etc/apt/keyrings/esm.pub] https://ubuntu-esm.snap.net.nz/public {{ ansible_distribution_release }}-infra-security main
deb [arch=amd64 signed-by=/etc/apt/keyrings/esm.pub] https://ubuntu-esm.snap.net.nz/public {{ ansible_distribution_release }}-infra-updates main
