[Unit]
Description= Run the homedir cleanup script to remove unused homefolders

[Timer]
OnCalendar=monthly
#allow for a random delay of up to 2 and a half hours, so servers run the script offset from eachother
RandomizedDelaySec=9000

[Install]
WantedBy=timers.target
