---
#https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#defining-variables-in-included-files-and-roles
#this contains the variable that we use when want to deploy a template
#vcenter to connect to
vcenter_hostname: fqdn.example.nz
#datacenter name
vcenter_datacenter: Christchurch XX
#datastore the vm is deployed to
vcenter_datastore: Vcenter-datastore-01
#cluster the vm is deployed to
vcenter_cluster: HM-01
#folder vm is deployed to
vcenter_folder: folder/subfolder
