[Unit]
Description=Run 2d-clamav.service daily

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
RandomizedDelaySec=3hr
Unit=2d-clamav.service

[Install]
WantedBy=multi-user.target
