{% for x in vms %}
{# {{ vms }} #}
{# {{ x }} #}

shortname is {{ x.vm_shortname }} 
fqdn is is a {{ x.vm_fqdn }}
vcenter vlan is {{ x.vcenter_vlan }}
ipv4 address is {{ x.vm_ipv4_address }}
ipv6 is on? {{ x.ipv6 }}
ipv6 address is {{ x.vm_ipv6_address }}
{% endfor %}
